/* Nesting y Mixin */
@mixin tamaños($width, $height) {
    width: $width;
    height: $height;
}
.container-img{
    width: 100%;
    max-width: 1800px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
    .box-img figure{
        @include tamaños($width, $height);
    }
    .box-img img{
        @include tamaños($width, $height);
        object-fit: cover;
    }
    .box-img:nth-child(1){
        grid-column-start: span 2;
    }
    .box-img:nth-child(4){
        grid-row-start: span 2;
    }
}

@media screen and (max-width:800px){
    .container-img{
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-template-rows: 200px;
    }
    .container-img .box-img:nth-child(1){
        grid-column-start: span 1;
    }
}
@media screen and (max-width:500px){
    .container-img{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }
    .container-img .box-img img{
        height: 200px;
    }
}
